* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navbar-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.navbar-links a {
  text-decoration: none;
  color: rgb(51, 50, 50);
}
.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-menu-toggle{
    display: none;
    
}
/*side navbar*/
.side-navbar{
    background-color:rgb(61, 145, 138) ;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 0%;
    padding: 25px;
    color: white;
    position: fixed;

}
.side-navbar-link{
    margin-top: 30px;
}
/*media query*/
@media  screen and (max-width: 700px) {
    .navbar-menu-toggle{display: block;}
    .navbar-links{display: none;}
}


    

